<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Nguyen_ProductNotification::rule" sortOrder="10" title="Notification Rule">
					<resource id="Nguyen_ProductNotification::rule_save" sortOrder="10" title="SaveNotification Rule"/>
					<resource id="Nguyen_ProductNotification::rule_delete" sortOrder="20" title="DeleteNotification Rule"/>
					<resource id="Nguyen_ProductNotification::rule_update" sortOrder="30" title="UpdateNotification Rule"/>
					<resource id="Nguyen_ProductNotification::rule_view" sortOrder="40" title="ViewNotification Rule"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
